#headerTitle{
   
}

p{
    font-size: 3.0vh;
}
#header-container{
    display: flex;
    background-color: black;
    color: white;
    
    

}
#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
    color: white;
    
}
#navbar-container a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 2vh;
}


#intro h1{
    text-align: center;
    font-size: 7vh;
   

}
#intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#logo{
    display: flex;
    padding-top: 20px;
}
#kids-jumping{
    display: flex;
    width: 70vh;
    height: 49vh;
    padding: 45px;
}
#about-header{
    text-align: center;
    font-size: 7vh;
}
#about-lower-container{
    display: flex;
    gap: 3vh;
    padding-right: 40px;  /* Padding on the right side */
    padding-bottom: 40px; /* Padding on the bottom side */
    padding-left: 40px;   /* Padding on the left side */
    padding-top: 0;  
    

}
#about-lower-container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#about-lower-container-text h2{
    font-size: 3.0vh;
    padding-top: 50px;
    
    

}

#about-lower-container-text p{
    display: flex;
    text-align: center;
    font-size: 2.5vh;
    
    
}








ul {

    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

li:nth-child(even) {
    background-color: #f9f9f9;
}

.date {
    width: 20%;
    font-weight: bold;
    color: #555;
}

.event-name {
    width: 60%;
    text-align: left;
}

.time {
    width: 20%;
    text-align: right;
    color: #888;
}